@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body{
  background-image: url("./Media/Images/expenseBackground.jpg");
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 800px;
  font-style: normal;
  background-size: 1489px 745px; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#trackerTitle{
  font-size: 90px;
  color:#f45983;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:rgba(226, 243, 228);
}

#pullDown{
 color: #f45983;
 -webkit-text-stroke-width: .6px;
 -webkit-text-stroke-color:rgba(226, 243, 228);
}


#mainContainer{

background-color:hsl(1, 96%, 78%,0.7);
width:640px;
height:500px;
border-radius: 6%;
border: 3px solid rgba(226, 243, 228);
} 


.table :not(caption) > * > * {
  background-color:hsl(1, 96%, 78%,0.7);
  border-radius: 6%;
  color:rgba(226, 243, 228);

}
.tableHeadFooter {
  color: rgba(226, 243, 228)!important;
  background-color: #e97e69 !important;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color:#f45983;
}

#categoryFont{
  color:rgba(226, 243, 228);
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color:#f45983;
  font-size: 30px;
}

#mainList{
color: #f45982d2;
 margin-left: 780px;
 margin-top:-460px;
 width:630px;
 height:400px;
 font-size: 30px;

}

#mainFilter{
width:630px;
margin-left:780px;
margin-top:-500px;
color:#f45983;

}

#button{
  background-color: #e97e69;
  color: rgba(226, 243, 228);
  width:60px;
  font-size: 20px;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color:#f45983;
}

#button:hover{
  background-image: linear-gradient(to left, #e175b5, #e17588);
}

.mb-2 {
  text-align: left;
  padding-left: 30px;
  padding-right:30px;
   margin-left: 20px;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color:#f45982d2;
   color: rgba(226, 243, 228);
}


#DAC-category{
  width:500px;
  padding-left: 30px;
  font-size: 50px;

}
