@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body{
  background-image: url("./Media/Images/expenseBackground.jpg");
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: 800px;
  font-style: normal;
  background-size: 1489px 745px; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  overflow: hidden;
}

#trackerTitle{
  font-size: 90px;
  color:#f45983;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:rgba(226, 243, 228);
}

#pullDown{
 color: #f45983;
 font-size: 16px;
 -webkit-text-stroke-width: .2px;
 -webkit-text-stroke-color:rgba(226, 243, 228);
}


#mainContainer{

background-color:hsl(1, 96%, 78%,0.7);
width:630px;
height:500px;
margin-left: 65px;
border-radius: 6%;
border: 3px solid rgba(226, 243, 228);
} 


.table :not(caption) > * > * {
  background-color:hsl(1, 96%, 78%,0.7);
  border-radius: 6%;
  color:rgba(226, 243, 228);

}
.tableHeadFooter {
  color: rgba(226, 243, 228)!important;
  background-color: #e97e69 !important;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color:#f45983;
}

#categoryFont{
  color:rgba(226, 243, 228);
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color:#f45983;
  margin-bottom:140px;
  font-size: 30px;
}

#mainFilter{
  width:610px;
  position: fixed !important;
  margin-left:795px;
  margin-top:-500px;
  color :#f45983!important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:#f45982d2;
  }

#mainList{
color: #f45982d2;
 margin-left: 795px;
 margin-top:-460px;
 width:610px;
 height:400px;
 font-size: 30px;
 position: relative !important;

}



#button{
  background-image: linear-gradient(to left, #e175b5, #e17588);
  color: rgba(226, 243, 228);
  width:60px;
  font-size: 20px;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color:#f45983;
  z-index: 1;
}

#submitButton{
  background-image: linear-gradient(to left, #e175b5, #e17588);
  color: rgba(226, 243, 228);
  width:100px;
  height:50px;
  font-size: 20px;
  margin-left:480px;
  margin-top:10px;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color:#f45983;
}

#submitButton:hover{
  background-image: linear-gradient(to right, #f45983, #e97e69);

}
#button:hover{
  background-image: linear-gradient(to right, #f45983, #e97e69);
}

.form-label {
  font-size: 50px;
  margin-top:5px;
  padding-left: 30px;
  padding-right:30px;
   color: rgba(226, 243, 228);
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color:#f45982d2;
}

.form-control{
  width:550px;
  height:45px;
  margin-left:30px;
  color:#f45983!important;
  -webkit-text-stroke-color: #f45982d2;
}

.filterForm{
  color:#f45983!important;
}



